#questionArea  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#radicalImage  {
    width: 20em;
    height: 20em;
    margin: 2rem;
    background-size: 20em 20em;
}

.quizContent  {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choiceBox  {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(25, 40, 47, 0.25)
}

.choiceLetter{
    padding: 1.5rem 2.5rem;
    background-color: #794E16;
    color: #FFFFFF;
}

.choiceContent  {
    padding: 1.5rem;
    background-color:#FFFFFF;
    color: #794E16;
}

.scoreArea {
    display: flex;
    justify-items: space-around;
}

/* Classes for (In)Correct Answers */
.correct  {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hide {
    display: none;
}
/*Styling choices for Laptop and higher */
@media screen and (min-width: 768px)  {
    /*Create highlight effect during hover*/
    .choiceBox:hover  {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(25, 40, 47, 0.25);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }
}