.choiceBox  {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(25, 40, 47, 0.25)
}

.choiceLetter{
    padding: 1.5rem 2.5rem;
    background-color: #794E16;
    color: #FFFFFF;
}

.choiceContent  {
    padding: 1.5rem;
    background-color:#FFFFFF;
    color: #794E16;
}