/*Imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&family=Courgette&display=swap');

/*Global styling choices*/
:root {
    background-color: aqua;
    font-size: 62,5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


head  {
    height: 6vh;
}

#header {
    height: 6vh;
    background-color: antiquewhite;
    top: 0;
}

section {
    height: 88vh;
}

footer {
    height: 6vh;
}

#footer {
    height: 6vh;
    background-color: antiquewhite;
    bottom: 0;
}